# Data Visualization Project - Ironhack

The dataset (netflix_titles.csv) contains information concerning TV Shows and Movies added to the Netflix catalog, including:

General information: id, title, type (TV Show or Movie), director, cast and a brief description.
Date fields: When the show was released and when it was added to the catalog.
Categorization: Rating and category in which the show is listed.
    
In the present notebook I am going to analize the relation between 
I go through some wrangling, and some exploratory analysis as well, gaining insight of the kind of content available in the Netflix and how the nature of the content has changed (if it changed at all) through the years.

In [12]:
#Explicacion data

In [13]:
#The UIS is the only statistical agency to provide a global perspective on the world’s most lucrative cultural industry and one of the most popular cultural practices – movie-watching. Demand for data has never been greater as digital technology transforms the ways in which films are produced, distributed and consumed by audiences in theatres and homes.  

#The Institute conducts a biennial survey on feature film and cinema statistics to monitor global trends in selected areas of this industry. This is the only international survey to include countries in all regions and at all stages of development – from Hollywood to Bollywood and Nollywood. It uses comparable definitions to collect data on a range of issues, including the Top 10 films viewed per country; linguistic diversity in film production; admissions; national versus international co-productions per country; and distribution mechanisms.

#The survey provides a unique perspective on how different countries and regions are transforming traditional approaches to the art and industry of film-making. The data can be used to track trends in consumption, for example, by looking at the origins of films viewed versus the most popular films, based on attendance. The data also reflect issues related to cinema infrastructure and access, as reflected by the numbers of indoor cinemas and average ticket prices per capita.

## Loading data

In [7]:
import pandas as pd
import xlrd

In [8]:
titles = pd.read_csv('netflix_titles.csv')
titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

## Basic Information

In [9]:
titles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

In [10]:
titles.nunique()

show_id         6234
type               2
title           6172
director        3301
cast            5469
country          554
date_added      1524
release_year      72
rating            14
duration         201
listed_in        461
description     6226
dtype: int64

In [11]:
titles.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

## Data Transformation

In [21]:
time_use = pd.read_excel('Time-Use-in-OECD-Countries-OECD.xlsx')

In [22]:
time_use

          Country                  Category  Time (minutes)
0       Australia                 Paid work      211.146630
1         Austria                 Paid work      279.532268
2         Belgium                 Paid work      194.476452
3          Canada                 Paid work      268.660610
4         Denmark                 Paid work      199.771596
..            ...                       ...             ...
456            UK  Other leisure activities       98.407710
457           USA  Other leisure activities       73.490920
458         China  Other leisure activities       52.963220
459         India  Other leisure activities      109.193439
460  South Africa  Other leisure activities       81.824600

[461 rows x 3 columns]

In [25]:
time_use.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 461 entries, 0 to 460
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         461 non-null    object
 1   Category        461 non-null    object
 2   Time (minutes)  461 non-null    float64
dtypes: float64(1), object(2)
memory usage: 10.9+ KB

In [23]:
time_use.Category.unique()

array(['Paid work', 'Education', 'Care for household members ',
       'Housework', 'Shopping', 'Other unpaid work & volunteering',
       'Sleep', 'Eating and drinking', 'Personal care', 'Sports',
       'Attending events', 'Seeing friends', 'TV and Radio',
       'Other leisure activities'], dtype=object)

## Data Visualization

In [ ]:
#one scatter plot

In [ ]:
#one histogram

In [ ]:
#one box plot

In [ ]:
#one bar graph

In [ ]:
#Explain what insight or information is inferred from these visualizations.

# Sources

https://www.kaggle.com/shivamb/netflix-shows
https://stats.oecd.org/Index.aspx?DataSetCode=TIME_USE